.title {
    text-align: center;
    font-size: 2vw;
    font-weight: bolder;
    border-bottom: 1px solid black;
    margin-bottom: 2vw;
    padding-bottom: 1vw;

}

.add {
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 6vh;
    justify-content: center;
    align-content: center;
    font-size: larger;
    background-color: rgb(92, 255, 92);
}

.add:hover {
    font-weight: bolder;
}

.delete {
    background-color: rgb(255, 114, 112);
}

.delete:hover {
    font-weight: bolder;
}

.submit {
	height: 10vh;
	width: 94%;
	margin-left: 2vw;
	font-size: larger;
    background-color: rgb(29, 29, 29);
    color: white;
}

.submit:hover {
	font-weight: bolder;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe {
    height: 750px;
    width: 70%;
}

.book {
    width: 25%;
    border: 1px solid black;
    overflow-y: scroll;
}

.inputs {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .2fr .2fr;
    row-gap: 10px;
}
.name {
    margin-left: 30%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.price {
    margin-left: 30%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}


.inContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
    column-gap: 10px;
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

.inContainer button { 
    grid-column: 5 / 6;
}

.outContainer {
    justify-content: center;
    border: 1px solid black;
    height:500px;
    margin: 20px;
    overflow-y: scroll;
}

.label1 {
    text-align: center;
    grid-column: 1 / 2;
}

.label3 {
    justify-content: center;
    grid-column: 2 / 3;
}

.label2 {
    text-align: center;
    grid-column: 3 / 4;
}

.label4 { 
    text-align: center;
    grid-column: 4 / 5;
}

legend {
	padding: 1vw;	
	font-weight: bold;
}

li {
	font-size: larger;
}

#navbar5 {
    justify-content: end;
}

.logoutBtn {
    margin-right: 2vw;
    text-decoration: none;
}

.logoutBtn:hover {
    font-size: larger;
    color: white;
    text-decoration: underline;
}

.logoutBtn {
    color: white;
}

nav {
    background-color: rgb(29, 29, 29);
    margin-bottom: 2vh;
}

.navbar-brand {
    color: white;

}

