

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   min-width: 100%;
   display:flex;    
}

.extContainer {
	display:flex;
	width:100%;
	margin-left:auto;
}


.orderContainer {
	width: 100%;
}

.recipeContainer {
	width: 100%;	
}

.recipeObject {
    display: flex;
}

.recipeList {
    overflow-y: scroll;
    width: 600px;
    height: min-height;
}

.newOrder {
	display: flex;
	flex-direction: column;
	min-height: 200px;
}

.recipeName {
    display: flex;
}

.submitOrder {
    margin-left: 35%;

}

.orderObject {
    display: flex;
    justify-content: center;
}
