.recipeObject {
    display: flex;
    border-bottom: 1px solid black;
}

.orderObject {
    border-bottom: 1px solid black;
}

nav {
    background-color: rgb(29, 29, 29);
}

.newOrder {
    height: 60vh;
    overflow-y: scroll;
}

.recipeName {
    font-size: larger;
    display: flex;
   
}

.navbar-brand {
    color: white;

}

.extContainer {
    display: flex;
}

.recipeList {
    overflow-y: scroll;
    height: 80vh;
}

.orderName {
	font-size: larger;
    display: flex;
}

.editOrder {
    background-color: white;
}

.deleteFromOrder {
    background-color: rgb(255, 114, 112);

}

.addToOrder {
    background-color: white;
}

.addToOrder:hover, .deleteFromOrder:hover, .editOrder:hover {
    font-weight: bolder;
}

.submitOrder {
    height: 12vh;
    color:white;
    background-color: rgb(29, 29, 29);
    font-size: x-large;
}

.submitOrder:hover {
    font-weight: bolder;
}

.newOrder {
    height: 35vh;
    overflow-y: scroll;
}

.recipeName {
    font-size: larger;
}

.orderStatus {
    pointer-events: none;
    font-weight: bold;
}

.orderList {
    overflow-y: scroll;
    height: 23vh;
    border-bottom: 1px solid black;
}

.inProgress {
    background-color: rgb(255, 184, 52);
}

.ready {
    background-color: rgb(92, 255, 92);
}

.orderId {
    font-size: larger;
}

.order {
    display: flex;
    border-bottom: 1px solid black;

}

