nav {
    background-color: rgb(29, 29, 29);
}

.navbar-brand {
    color: white;

}

.flexContainer {
    display: flex;
}

.cartContainer {
	
	margin-left:auto;
	margin-right:auto;	
}

.userDetails {
    height: 60vh;
}

.makePayment {
    height: 12vh;
    color:white;
    background-color: rgb(29, 29, 29);
    font-size: x-large;
}

.makePayment:hover {
    font-weight: bolder;
}

.recipeList {
    overflow-y: scroll;
    height: 30vh;
}

.recipeName {
    display: flex;
    font-size: larger;
}

.recipePrice {
    font-size: larger;
    font-weight: bold;
}

.recipeObject {
    display: flex;
    border-bottom: 1px solid black;
}

.total {
    font-size: larger;
    font-weight: bolder;
    text-align: right;
}
