body {
    background-color: rgb(29, 29, 29);
}

.registerBtn {
    color: white;
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    background-color: rgb(29, 29, 29);
}

.registerBtn:hover {
    font-weight: bolder;
}