<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/inventory.css" />
    <title>Add Inventory</title>
</head>
<body>

<div layout:fragment="content">
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
			var app = angular.module('addInventory', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				
				/* Logic that handles controlling your page goes here */
				
				$scope.getInventory = function() {
					$http.get("/api/v1/inventory").then(function(response) {
						$scope.inventory = response.data;
						$scope.ingredients = $scope.inventory.ingredients
						angular.forEach($scope.ingredients, function(item) {
				            item.units = 0;
				        });
					}, function(rejection) {
						console.error("Error while getting Inventory");
					});
				}
				
                if (localStorage.getItem("type") != "MANAGER") {
    				$http.post("/api/v1/logout")
    	            .then(res => {
    	            	console.log("removinguser");
    	            	localStorage.removeItem("user");
    	            	localStorage.removeItem("type");
    	            	window.location.href = "/login";
    	            }) 
    	            .catch(error => {
    	            	console.log(error);
    	            });
                }
				
				$scope.checkValidity = function() {
					for (i = 0; i < $scope.ingredients.length; i++ ) {
						var input = document.getElementById("units-" + i);
						if ($scope.ingredients[i].units < 0) {
							input.setCustomValidity('Please enter a non-negative integer quantity');
							input.reportValidity();
							return false;
						} else {
							input.setCustomValidity('');
						}
					}
					
					return true;
				}
				
				$scope.logout = function() {
					console.log("click");
					$http.post("/api/v1/logout")
		            .then(res => {
		            	console.log("removinguser");
		            	localStorage.removeItem("user");
		            	localStorage.removeItem("type");
		            	window.location.href = "/login";
		            }) 
		            .catch(error => {
		            	console.log(error);
		            });
				}
	
				$scope.submit = function() {
					
					if ( $scope.checkValidity() ) {
						
						
						var newInventory = { id: null, ingredients: [] }
						
						for (i = 0; i < $scope.ingredients.length; i++) {
							
							newInventory.ingredients.push({
								id: null,
								ingredient: $scope.ingredients[i].ingredient,
								amount: $scope.ingredients[i].units
							});
						}
						
						$http.put("/api/v1/inventory", newInventory).then(
							function(response) {
								$scope.getInventory();
							}, function(rejection) {
								console.error("Error while updating Inventory!");
							});
						
					}
					
				}
				
				$scope.getInventory();
		
			});
			
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
		</script>
		
		<div ng-app="addInventory" ng-controller="populateCtrl">
		
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->

				<nav class="navbar navbar-expand-sm flex-sm-nowrap flex-wrap">
			        <div class="container-fluid">
			            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
			                <span class="navbar-toggler-icon"></span>
			            </button>
			            <a class="navbar-brand" href="./managerHome.html">CoffeeMaker</a>
			            <div class="navbar-collapse collapse" id="navbar5">
			                <ul class="navbar-nav">
		                  		<a href="#" ng-click="logout()" class="logoutBtn">Logout</a>
			                </ul>
			            </div>
			        </div>
		    	</nav>
			    <main>
			    
			    	<fieldset class="inventory">
			            <fieldset>
				            <legend>Current Inventory</legend>
				            <div ng-repeat="item in inventory.ingredients" class="inContainer">
				                <div class="label1">Name</div>
				                <div>{{item.ingredient}}</div>
				                <div class="label2">Units</div>
				                <div>{{item.amount}}</div>
				                <div class="label5">{{item.change}}</div>
				            </div>
			            </fieldset>
			        </fieldset>
			        <fieldset class="addinventory">			
			            <fieldset class="outContainer">
			            	<legend>Add To Inventory</legend>
			                <div ng-repeat="item in ingredients" class="inContainer">
			                    <div class="label1">Name</div>
			                    <div>{{item.ingredient}}</div>
			                    <div class="label2">Units</div>
			                    <input id="units-{{$index}}" type="number" ng-click="checkValidity()" ng-model="item.units" class="label4" required="true">
			                </div>
			
			            </fieldset>
			            <button class="submit" ng-click="submit()">Submit</button>
			        </fieldset>
			    </main>
			</div>
</body>
</html>