<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="css/addingredient.css" />
    <title>Add Ingredient</title>
</head>
<body>
		<div layout:fragment="content">
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
			var app = angular.module('addIngredient', []);
			app.controller('populateCtrl', function($scope, $http, $q) {
				
				$http.get("/api/v1/inventory").then(function(response) {
					$scope.inventory = response.data;
					$scope.ingredients = $scope.inventory.ingredients;
				});
				
                if (localStorage.getItem("type") != "MANAGER") {
    				$http.post("/api/v1/logout")
    	            .then(res => {
    	            	console.log("removinguser");
    	            	localStorage.removeItem("user");
    	            	localStorage.removeItem("type");
    	            	window.location.href = "/login";
    	            }) 
    	            .catch(error => {
    	            	console.log(error);
    	            });
                }

				
				$scope.logout = function() {
					console.log("click");
					$http.post("/api/v1/logout")
		            .then(res => {
		            	console.log("removinguser");
		            	localStorage.removeItem("user");
		            	localStorage.removeItem("type");
		            	window.location.href = "/login";
		            }) 
		            .catch(error => {
		            	console.log(error);
		            });
				}
				
				/* Logic that handles controlling your page goes here */
				$scope.submit = function() {
					
					var newInventory = { id: null, ingredients: [] }
		
					newInventory.ingredients.push({
						id: null,
						ingredient: $scope.name,
						amount: $scope.quantity
					});

					$http.put("/api/v1/inventory", newInventory).then(function(success) {
						$scope.success = true;
						console.log("worked");
						window.location.reload();
						console.log($scope.ingredients);
					}, function(rejection) {
						console.log(newInventory);
						console.error("Error while adding ingredient");
						if (!nameIn.checkValidity()) {
							nameIn.reportValidity();
						}
						if (!amtIn.checkValidity()) {
							console.log(amtIn.value);
							amtIn.reportValidity();
						}
					});	
				}
				
				var nameIn = document.getElementById("nameIn");
				nameIn.addEventListener("change", function(e) {
					for (var i = 0; i < $scope.ingredients.length; i++) {
						if (nameIn.value.toUpperCase().trim() == $scope.ingredients[i].ingredient.toUpperCase().trim()) {
							nameIn.setCustomValidity("This ingredient already exists");
							nameIn.reportValidity();
						}
					}
				});
				
				var amtIn = document.getElementById("amtIn");
				amtIn.addEventListener("change", function(e) {
					const input = e.target;
					if (input.validity.patternMismatch) {
						amtIn.setCustomValidity("Please enter a positive integer quantity");
						amtIn.reportValidity();
					}
					else {
						amtIn.setCustomValidity("");
					}
				});
				
			});
			
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
		</script>
		
			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->

		
	<div ng-app="addIngredient" ng-controller="populateCtrl">
		<nav class="navbar navbar-expand-sm flex-sm-nowrap flex-wrap">
	        <div class="container-fluid">
	            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <a class="navbar-brand" href="./managerHome.html">CoffeeMaker</a>
	            <div class="navbar-collapse collapse" id="navbar5">
	                <ul class="navbar-nav">
                  		<a href="#" ng-click="logout()" class="logoutBtn">Logout</a>
	                </ul>
	            </div>
	        </div>
    	</nav>
        <div class="container">
        <fieldset class="add">
<!--             <div class="label1">Name</div>
            <input type="text" ng-model="name" required class="in1" id="nameIn"/> -->
			<div class="mb-3">
			  <label for="nameIn" class="form-label">Name</label>
			  <input type="input" ng-model="name" class="form-control" id="nameIn">
			</div>
            <br><br>
<!--             <div class="label2">Quantity</div>
            <input type="text" ng-model="quantity" pattern="^[1-9]+[0-9]*$" required class="in2" id="amtIn"/> -->
			<div class="mb-3">
			  <label for="amtIn" class="form-label">Quantity</label>
			  <input type="input" ng-model="quantity" class="form-control" id="amtIn">
			</div>
            <button class="submit" ng-click="submit()">Submit</button>
        </fieldset>
        <fieldset class="list">
            <legend>Ingredients List</legend>
            <ul>
                <li ng-repeat="ingredient in ingredients">{{ingredient.ingredient}}</li>
            </ul>
        </fieldset>
    </div>
</body>
</html>