<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../static/css/baristaHome.css" />

<title>Barista Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm flex-sm-nowrap flex-wrap">
        <div class="container-fluid">
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">CoffeeMaker</a>
            <div class="justify-content-center navbar-collapse collapse" id="navbar5">
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
    <div class="flexContainer">
	<fieldset class="recipeContainer col-6 p-4">
		<legend>Recipe List</legend>
		<div class="p-3 recipeList border border-dark">
            <div class="recipeObject pb-2 pt-2">
                <div class="p-2 recipeName col-3">Mocha Latte</div>
                <div class="col-2"></div>
                
                <button class="editRecipe m-2 col-3">Edit Recipe</button>
                <button class="deleteRecipe m-2 col-3">Delete Recipe</button>
            </div>
            <div class="recipeObject pb-2 pt-2">
                <div class="p-2 recipeName col-3">Black Coffee</div>
                <div class="col-2"></div>
                <button class="editRecipe m-2 col-3">Edit Recipe</button>
                <button class="deleteRecipe m-2 col-3">Delete Recipe</button>
            </div>
            <div class="recipeObject pb-2 pt-2">
                <div class="p-2 recipeName col-3">Hot Tea</div>
                <div class="col-2"></div>
                <button class="editRecipe m-2 col-3">Edit Recipe</button>
                <button class="deleteRecipe m-2 col-3">Delete Recipe</button>
            </div>
        </div>
        <button class="createButton col-12 mt-3">Create New Recipe</button>

	</fieldset>
    <fieldset class="orderContainer col-6 p-4">
		<legend>Orders In Progress</legend>
		<div class="currentOrder border border-dark p-4">
            <div class="orderName d-flex pt-2 pb-2">
                <div class="p-2 recipeName col-3">Mocha Latte</div>
                <div class="col-2"></div>
                <button class="fulfillOrder m-2 col-3">Fulfill</button>
                <button class="cancelOrder m-2 col-3">Cancel</button>
            </div>
            <div class="orderName d-flex pt-2 pb-2">
                <div class="p-2 recipeName col-3">Mocha Latte</div>
                <div class="col-2"></div>
                <button class="fulfillOrder m-2 col-3">Fulfill</button>
                <button class="cancelOrder m-2 col-3">Cancel</button>
            </div>
		</div>
	</fieldset>
</div>
</body>
</html>