<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="./customerHome.css" />

<title>Customer Home</title>
</head>
<body>
	<fieldset class="orderContainer col-6 p-4">
		<legend>New Order</legend>
		<div class="newOrder border border-dark">
			<div class="p-2 orderName">Mocha Latte</div>
		</div>
        <button class="submitOrder justify-content-center mt-4">Submit Order</button>

	</fieldset>
	<fieldset class="recipeContainer col-6 p-4">
		<legend>Recipe List</legend>
		<div class=" p-3 recipeList border border-dark">
            <div class="recipeObject">
                <div class="p-2 recipeName col-3">Mocha Latte</div>
                <button class="addToOrder m-2">Add To Order</button>
            </div>
            <div class="recipeObject">
                <div class="p-2 recipeName col-3">Black Coffee</div>
                <button class="addToOrder m-2">Add To Order</button>
            </div>
            <div class="recipeObject">
                <div class="p-2 recipeName col-3">Hot Tea</div>
                <button class="addToOrder m-2">Add To Order</button>
            </div>
        </div>

	</fieldset>
</body>
</html>