<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/managerHome.css" />
    
    <title>Manager Home</title>
</head>
<script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var app = angular.module('myApp', []);
        app.controller('managerCtrl', function($scope, $http, $q) {
        	$http.get("/api/v1/orders").then(function(response) {
                $scope.orders = response.data;
                console.log($scope.orders);
            });
        	
			$scope.logout = function() {
				console.log("click");
				$http.post("/api/v1/logout")
	            .then(res => {
	            	console.log("removinguser");
	            	localStorage.removeItem("user");
	            	window.location.href = "/login";
	            }) 
	            .catch(error => {
	            	console.log(error);
	            });
			}
			
        	$http.get("/api/v1/current")
        	.then(res => {
                console.log('Current user: ', res);
                localStorage.setItem("user", res.data.message.substring(14));
        	})
        	.catch(error => {
                console.log('Request failed ', error);
                window.location.href = '/login';
        	});
        });

        /*]]>*/
    </script>
    <div layout:fragment="content" class="generic-container ng-cloak"
        ng-app="myApp" ng-controller="managerCtrl">
	    <nav class="navbar navbar-expand-sm flex-sm-nowrap flex-wrap">
	        <div class="container-fluid">
	            <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <a class="navbar-brand" href="./managerHome.html">CoffeeMaker</a>
	            <div class="navbar-collapse collapse" id="navbar5">
	                <ul class="navbar-nav">
	                  <a href="#" ng-click="logout()" class="logoutBtn">Logout</a>
	                </ul>
	            </div>
	        </div>
	    </nav>
	
	    <div class="justify-content-center mt-4 d-flex">
	      <div class="dates col-5">
	        <label class="startLabel col-2">Start Date:</label>
	        <input type="date">
	        <br>
	        <label class="endLabel col-2">End Date:</label>
	        <input type="date">
	      </div>
	
	        <div class="btn-group col-5" role="group">
	            <a type="button" class="btn btn-outline-dark">Order History</a>
	            <a type="button" class="btn btn-outline-dark">Revenue</a>
	            <a href="./addinventory" type="button" class="btn btn-outline-dark">Add Inventory</a>
	            <a href="./addingredient.html" type="button" class="btn btn-outline-dark">Add Ingredient</a>
	          </div>
	        </div>
	
	
	        <br>
	        <div class="tableContainer">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                  <th scope="col">Order ID</th>
	                  <th scope="col">Timestamp</th>
	                  <th scope="col">Recipe</th>
	                  <th scope="col">Status</th>
	                </tr>
	              </thead>        
	              <tbody class="table-group-divider">
	                <tr ng-repeat="order in orders">
	                  <th scope="row">{{order.id}}</th>
	                  <td>{{order.timeStamp}}</td>
	                  <td>
				          <span ng-repeat="recipe in order.recipes">
				              {{recipe.name}}<span ng-if="!$last">, </span>
				          </span>
				      </td>
	                  <td>{{ order.fulfilled ? 'Ready' : 'In Progress' }}</td>
	                </tr>
	              </tbody>
	            </table>
	        </div>
    </div>
</body>
</html>