<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/privacypolicy.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <main>
        <section>
            <h2>Information Collection and Use</h2>
            <p>We respect your privacy and are committed to protecting personal information you may provide us through the Website. We have adopted this privacy policy to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties.</p>
            <p>When you register for an account on our Website as a customer or staff member of a coffee shop, we may collect the following information:</p>
            <ul>
                <li>Email address</li>
                <li>Name</li>
                <li>An associated account identifier</li>
            </ul>
            <p>We use this information to:</p>
            <ul>
                <li>Facilitate online coffee orders</li>
                <li>Provide and maintain our services</li>
                <li>Notify you about changes to our services</li>
                <li>Communicate with you, including responding to your inquiries</li>
                <li>Personalize your experience and improve our Website</li>
            </ul>
        </section>
        

        <section>
            <h2>Log Data</h2>
            <p>Like many site operators, we collect information that your browser sends whenever you visit our Website ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.</p>
            <!-- Include information about log data and how it's used -->
        </section>

        <!-- Add additional sections as needed, such as information about cookies, third-party services, etc. -->

        <section>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>
            <!-- Include information about updates to the privacy policy -->
        </section>
    </main>

    <footer>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
        <!-- Include contact information -->
    </footer>
</body>
</html>